html, body {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
  }
  canvas{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    margin-bottom: 60px;
    border: 2px solid rgb(0, 65, 243);
  }
  
  